<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="src\img\TanukitchenLogo-White.png">
    <title>Tanukitchen</title>
    <%-include('templates/header')%>
    <%-include('templates/navbar')%>
    
<div class="container text-center">
    <div class="d-flex justify-content-center">
        <h1 class="tk-text">Control Panel</h1>
    </div>
    <div class="row">

        <!-- COLUMNA ESTUFA -->
        <div class="col-sm">
            <div class="d-flex justify-content-center">
                <div class="tk-panel-label">Stove</div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/img/tkStove.png" class="tk-panel-icon"></img>
            </div>
            <div class="d-flex justify-content-center">
                <div class="tk-panel-data">Temperature</div>
            </div>
                <p class="tk-panel-data" id="stove_temp">0 C°</p>
            <div class="d-flex justify-content-center">
                <div class="form-check form-switch">
                    <input id="toStove" type="checkbox" class="form-check-input" role="switch"  onclick="state_change('stove', $('#toStove').prop('checked'))">
                    <label for="toStove" class="tk-text" id="stove_turn">Turn On</label>
               </div>
            </div>
        </div>
        
        <!-- COLUMNA EXTRACTOR -->
        <div class="col-sm">
            <div class="d-flex justify-content-center">
                <div class="tk-panel-label">Smoke Extractor</div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/img/tkExtractor.png" class="tk-panel-icon"></img>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <div class="tk-panel-data" id="smoke_message">Off</div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div class="form-check form-switch">
                    <input id="toSmoke" type="checkbox" class="form-check-input" role="switch" onclick="state_change('extractor', $('#toSmoke').prop('checked'))">
                    <label for="toSmoke" class="tk-text" id="smoke_turn">Turn On</label>
               </div>
            </div>
        </div>
        
        <!-- COLUMNA BÁSCULA -->
        <div class="col-sm">
            <div class="d-flex justify-content-center">
                <div class="tk-panel-label">Scale</div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/img/tkScale.png" class="tk-panel-icon"></img>
            </div>
            <div class="d-flex justify-content-center">
                <div class="tk-panel-data">Weight</div>
            </div>
                <p class="tk-panel-data" id="scale_weight">0 gr</p>
            <div class="d-flex justify-content-center">
                <div class="form-check form-switch">
                    <input id="toScale" type="checkbox" class="form-check-input" role="switch" onclick="state_change('scale', $('#toScale').prop('checked'))">
                    <label for="toScale" class="tk-text" id="scale_turn">Turn On</label>
               </div>
            </div>
        </div>

        <!-- DIVIDER(), -->
        
        <div class="w-100"></div>
        
        <!-- COLUMNA TANQUE DE GAS -->
        <div class="col-sm" style="display: none">
            <div class="d-flex justify-content-center">
                <div class="tk-panel-label">Gas Tank</div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/img/tkGas.png" class="tk-panel-icon"></img>
            </div>
            <div class="d-flex justify-content-center">
                <div class="tk-panel-data" id="gas_message">Close</div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div class="form-check form-switch">
                    <input id="toGas" type="checkbox" class="form-check-input" role="switch" onclick="state_change('gas', $('#toGas').prop('checked'))">
                    <label for="toGas" class="tk-text" id="gas_turn">Open</label>
               </div>
            </div>
        </div>

        <!-- COLUMNA FANTASMA -->
        <div class="col-sm">
            <div class="d-flex justify-content-center">
            </div>
            <div class="d-flex justify-content-center">
            </div>
            <div class="d-flex justify-content-center">
                <div class="tk-panel-data"></div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div class="form-check form-switch">
                   
                    <label for="toGas" class="tk-text"></label>
               </div>
            </div>
        </div>

        <!-- COLUMNA INCENDIO -->
        <div class="col-sm" >
            <div class="d-flex justify-content-center">
                <div class="tk-panel-label">Risk of Fire</div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/img/tkFire.png" class="tk-panel-icon"></img>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <p class="tk-panel-data" id="fire_message">Everything seems normal</p>
            </div>
                <p class="tk-panel-data" id="fire_percent">0 %</p>
        </div>

        <!-- COLUMNA FANTASMA -->
        <div class="col-sm">
            <div class="d-flex justify-content-center">
            </div>
            <div class="d-flex justify-content-center">
            </div>
            <div class="d-flex justify-content-center">
                <div class="tk-panel-data"></div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div class="form-check form-switch">
                   
                    <label for="toGas" class="tk-text"></label>
               </div>
            </div>
        </div>

        <!-- COLUMNA HORNO -->
        <div class="col-sm" style="display: none">
            <div class="d-flex justify-content-center">
                <div class="tk-panel-label">Oven</div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/img/tkOven.png" class="tk-panel-icon"></img>
            </div>
            <div class="d-flex justify-content-center">
                <div class="tk-panel-data">Temperature</div>
            </div>
                <p class="tk-panel-data" id="oven_temp">0 C°</p>
            <div class="d-flex justify-content-center">
                <div class="form-check form-switch">
                    <input id="toOven" type="checkbox" class="form-check-input" role="switch" onclick="state_change('oven', $('#toOven').prop('checked'))">
                    <label for="toOven" class="tk-text" id="oven_turn">Turn On</label>
               </div>
            </div>
        </div>
        
        
        
        
        </div>
    </div>
</div>

<script>
    var items = document.querySelectorAll('.nav-item a');
    items[1].setAttribute('aria-current', "page");
    
    jsonRead = {};

    function readJson() {
      fetch('http://localhost:3000/api/bin/modules')
      .then((response) => response.json())
        .then((json) => {
            $('#toScale').prop('checked', json.modules[0].state);
            $('#scale_turn').html(json.modules[0].state ? 'Turn Off' : 'Turn On');
            $('#scale_weight').html(json.modules[0].value + ' gr');

            $('#toStove').prop('checked', json.modules[1].state);
            $('#stove_turn').html(json.modules[1].state ? 'Turn Off' : 'Turn On');
            $('#stove_temp').html(json.modules[1].value + ' C°');
            
            msj = 'Everything seems normal';
            if (json.modules[2].value >= 30 && json.modules[2].value <= 60) {
                msj = 'Warning, please open all windows';
            } else if (json.modules[2].value >= 60) {
                msj = 'Alert, FIRE';
            }
            $('#fire_percent').html(json.modules[2].value + ' %');
            $('#fire_message').html(msj);
            
            $('#toSmoke').prop('checked', json.modules[3].state);
            $('#smoke_turn').html(json.modules[3].state ? 'Turn Off' : 'Turn On');
            $('#smoke_message').html(json.modules[3].state ? 'On' : 'Off');

            $('#toGas').prop('checked', json.modules[4].state);
            $('#gas_turn').html(json.modules[4].state ? 'Close' : 'Open');
            $('#gas_message').html(json.modules[4].state ? 'Open' : 'Close');

            $('#toOven').prop('checked', json.modules[5].state);
            $('#oven_turn').html(json.modules[5].state ? 'Turn Off' : 'Turn On');
            $('#oven_temp').html(json.modules[5].value + ' C°');
        });
    }

    function readDB() {
      fetch('http://localhost:3000/api/modules/getModules')
      .then((response) => response.json())
        .then((json) => {
            json.map((module) => {
                switch (module.name) {
                    case 'extractor': 
                            $('#toSmoke').prop('checked', module.active);
                            $('#smoke_turn').html(module.active ? 'Turn Off' : 'Turn On');
                            $('#smoke_message').html(module.active ? 'On' : 'Off');
                        break;
                    case 'smoke_detector': 
                            msj = 'Everything seems normal';
                            if (module.values[0].value >= 30 && module.values[0].value <= 60) {
                                msj = 'Warning, please open all windows';
                            } else if (module.values[0].value >= 60) {
                                msj = 'Alert, FIRE';
                            }
                            $('#fire_percent').html(module.values[0].value + ' %');
                            $('#fire_message').html(msj);
                        break;
                    case 'scale': 
                            $('#toScale').prop('checked', module.active);
                            $('#scale_turn').html(module.active ? 'Turn Off' : 'Turn On');
                            $('#scale_weight').html(module.values[0].value + ' gr');
                        break;
                    case 'stove': 
                            $('#toStove').prop('checked', module.active);
                            $('#stove_turn').html(module.active ? 'Turn Off' : 'Turn On');
                            $('#stove_temp').html(module.values[0].value + ' C°');
                        break;
                    case 'oven': 
                            $('#toOven').prop('checked', module.active);
                            $('#oven_turn').html(module.active ? 'Turn Off' : 'Turn On');
                            $('#oven_temp').html(module.values[0].value + ' C°');
                            break;
                    case 'gas': 
                            $('#toGas').prop('checked', module.active);
                            $('#gas_turn').html(module.active ? 'Close' : 'Open');
                            $('#gas_message').html(module.active ? 'Open' : 'Close');
                        break;
                }
            });
        });
    }

    // setInterval('readJson()', 2000);
    setInterval('readDB()', 2000);

    function state_change(module, state) {
        url = 'http://localhost:3000/api/bin/';
        state ? url += 'start' : url += 'stop';
        url += '_' + module;
        fetch(url)
        .then((response) => response.json())
            .then((json) => {
                json ? alert(`${module}: ${state ? 'Turned On' : 'Turned Off'} Successfully`) : alert(json);
            });
    }
  </script>

<%- include('templates/footer')%>

