<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/TanukitchenLogo-White.png">
    <title>Your Recipes</title>
    <%-include('templates/header')%>
    <%-include('templates/navbar')%>

    <div class="container text-center">
        <div class="d-flex justify-content-center">
            <h1 class="tk-text">Recipes</h1>
        </div>
        <div class="row" id="container">

            <table id="table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Estado</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            
    
            <!-- COLUMNA 1 -->
            <div class="col-sm mx-2">
                <div class="d-flex justify-content-center">
                    <div class="tk-recipes-label">Milanesas empanizadas</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <img src="/img/full-meal.png" class="tk-recipe-type"></img>
                    </div>
                    <div class="col-sm-8  align-self-center">
                        <p class="tk-text">Unas ricas milanesas o algo asi decia no me acuerdo xd
                            Hechas con carne de chostito y testiculos de tanuki
                        </p>
                    </div>
                    <hr class="tk-divider">
                </div>

                <div class="row mb-5">
                
                    <div class="col">
                        <img src="/img/kcal.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/carbs.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/protein.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/people.png" class="tk-recipe-img"></img>
                    </div>
                    
                    <div class="w-100"></div>
                
                    <div class="col">
                        <div class="tk-panel-data">420 KCAL</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">40 gr</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">15 gr</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">4 portions</div>
                    </div>

                  </div>

            </div>
            
            <!-- COLUMNA 2 Vacia -->
            <div class="col-sm mx-2"></div>

            <!-- DIVIDER(), -->
            
            <div class="w-100"></div>
            
            <!-- COLUMNA 1 -->
            <div class="col-sm mx-2">
                <div class="d-flex justify-content-center">
                    <div class="tk-recipes-label">Galletas de chocokrispis</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <img src="/img/pastry.png" class="tk-recipe-type"></img>
                    </div>
                    <div class="col-sm-8  align-self-center">
                        <p class="tk-text">No son chocokrispis de verdad.
                            Perfectas para ponerles aderezo de brenda
                        </p>
                    </div>
                    <hr class="tk-divider">
                </div>

                <div class="row mb-5">
                
                    <div class="col">
                        <img src="/img/kcal.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/carbs.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/protein.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/people.png" class="tk-recipe-img"></img>
                    </div>
                    
                    <div class="w-100"></div>
                
                    <div class="col">
                        <div class="tk-panel-data">420 KCAL</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">40 gr</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">15 gr</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">4 portions</div>
                    </div>

                  </div>

            </div>
            <!-- COLUMNA 2 -->
            <div class="col-sm mx-2">
                <div class="d-flex justify-content-center">
                    <div class="tk-recipes-label">Milanesas empanizadas</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <img src="/img/full-meal.png" class="tk-recipe-type"></img>
                    </div>
                    <div class="col-sm-8  align-self-center">
                        <p class="tk-text">Unas ricas milanesas o algo asi decia no me acuerdo xd
                            Hechas con carne de chostito y testiculos de tanuki
                        </p>
                    </div>
                    <hr class="tk-divider">
                </div>

                <div class="row mb-5">
                
                    <div class="col">
                        <img src="/img/kcal.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/carbs.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/protein.png" class="tk-recipe-img"></img>
                    </div>
                    <div class="col">
                        <img src="/img/people.png" class="tk-recipe-img"></img>
                    </div>
                    
                    <div class="w-100"></div>
                
                    <div class="col">
                        <div class="tk-panel-data">420 KCAL</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">40 gr</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">15 gr</div>
                    </div>
                    <div class="col">
                        <div class="tk-panel-data">4 portions</div>
                    </div>

                </div>

            </div>


    <script>
        var items = document.querySelectorAll('.nav-item a');
        items[1].setAttribute('aria-current', "page");

        function readDB() {
        fetch('http://localhost:3000/api/modules/getRecipes')
        .then((response) => response.json())
            .then((json) => {
                var htmlTags = "";
                console.info()
                json.map((recipe, i) => {
                    htmlTags += 
                    '<div class="col-sm mx-2">'+
                        '<div class="d-flex justify-content-center">' +
                            '<div class="tk-recipes-label">' + recipe.name + '</div>' +
                        '</div>' +
                        '<div class="row justify-content-center">' +
                            '<div class="col-sm-4">' + 
                                '<img src="/img/' + recipe.type + '.png" class="tk-recipe-type"></img>' + 
                            '</div>' +
                            '<div class="col-sm-8  align-self-center">' + 
                                '<p class="tk-text">' + 
                                    recipe.description +
                                '</p>'+
                            '</div>' + 
                            '<hr class="tk-divider">' +
                        '</div>' + '<div class="row mb-5">' +
                            '<div class="col">' + 
                                '<img src="/img/kcal.png" class="tk-recipe-img"></img>' +
                            '</div>' + 
                            '<div class="col">' +
                                '<img src="/img/carbs.png" class="tk-recipe-img"></img>' +
                            '</div>' +
                            '<div class="col">' +
                                '<img src="/img/protein.png" class="tk-recipe-img"></img>' +
                            '</div>' +
                            '<div class="col">' +
                                '<img src="/img/people.png" class="tk-recipe-img"></img>' +
                            '</div>' + 
                            '<div class="w-100"></div>' +
                            '<div class="col">' +
                                '<div class="tk-panel-data">' + recipe.kcal + ' KCAL</div>' +
                            '</div>' +
                            '<div class="col">' +
                                '<div class="tk-panel-data">' + recipe.carbs + ' gr</div>' +
                            '</div>' +
                            '<div class="col">' +
                                '<div class="tk-panel-data">' + recipe.protein + ' gr</div>' +
                            '</div>' +
                            '<div class="col">' +
                                '<div class="tk-panel-data">' + recipe.people + ' portions</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>';
            
                    i % 2 == 1 ? htmlTags += '</div><div class="w-100"></div>' : '';
                        
                    $('#container').html(htmlTags);      
                });
                if (json.length % 2 == 1) $('#container').append('<div class="col-sm mx-2">');    
            });
        }
    </script>
    <%- include('templates/footer')%>