<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/TanukitchenLogo-White.png">
    <title>Your Recipes</title>
    <%-include('templates/header')%>
    <%-include('templates/navbar')%>

    <div class="container text-center">
        <div class="d-flex justify-content-center">
            <h1 class="tk-text">Recipes</h1>
        </div>
        <div class="row" id="container">¿
            <!-- COLUMNA 2 -->
            <div class="col-sm mx-2">
                <img src="https://i.pinimg.com/originals/a2/dc/96/a2dc9668f2cf170fe3efeb263128b0e7.gif" alt="">
            </div>
        </div>
    </div>

    <script>
        window.onload=readDB();

        var items = document.querySelectorAll('.nav-item a');
        items[1].setAttribute('aria-current', "page");

        function readDB() {
            fetch('http://localhost:3000/api/modules/getRecipes')
            .then((response) => response.json())
                .then((json) => {
                    var htmlTags = "";
                    console.info()
                    json.map((recipe, i) => {
                        htmlTags += 
                        '<div class="col-sm mx-2" onclick="window.location.replace(\'/recipe/' + recipe._id + '\')">'+
                            '<div class="d-flex justify-content-center">' +
                                '<div class="tk-recipes-label">' + recipe.name + '</div>' +
                            '</div>' +
                            '<div class="row justify-content-center">' +
                                '<div class="col-sm-4">' + 
                                    '<img src="/img/' + recipe.type + '.png" class="tk-recipe-type"></img>' + 
                                '</div>' +
                                '<div class="col-sm-8  align-self-center">' + 
                                    '<p class="tk-text">' + 
                                        recipe.description +
                                    '</p>'+
                                '</div>' + 
                                '<hr class="tk-divider">' +
                            '</div>' + '<div class="row mb-5">' +
                                '<div class="col">' + 
                                    '<img src="/img/kcal.png" class="tk-recipe-img"></img>' +
                                '</div>' + 
                                '<div class="col">' +
                                    '<img src="/img/carbs.png" class="tk-recipe-img"></img>' +
                                '</div>' +
                                '<div class="col">' +
                                    '<img src="/img/protein.png" class="tk-recipe-img"></img>' +
                                '</div>' +
                                '<div class="col">' +
                                    '<img src="/img/people.png" class="tk-recipe-img"></img>' +
                                '</div>' + 
                                '<div class="w-100"></div>' +
                                '<div class="col">' +
                                    '<div class="tk-panel-data">' + recipe.kcal + ' KCAL</div>' +
                                '</div>' +
                                '<div class="col">' +
                                    '<div class="tk-panel-data">' + recipe.carbs + ' gr</div>' +
                                '</div>' +
                                '<div class="col">' +
                                    '<div class="tk-panel-data">' + recipe.protein + ' gr</div>' +
                                '</div>' +
                                '<div class="col">' +
                                    '<div class="tk-panel-data">' + recipe.people + ' portions</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>';
                
                        i % 2 == 1 ? htmlTags += '</div><div class="w-100"></div>' : '';
                            
                        $('#container').html(htmlTags);      
                    });
                    if (json.length % 2 == 1) $('#container').append('<div class="col-sm mx-2">');    
                });
        }

        function redirect(id) {
            alert(id);
        }
    </script>
<%- include('templates/footer')%>