<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/TanukitchenLogo-White.png">
    <title>Your Recipes</title>
    <%-include('templates/header')%>
    <%-include('templates/navbar')%>

    <div class="container text-center">
        <div class="d-flex justify-content-center mt-4">
            <h1 class="tk-text">Recipes</h1>
        </div>
        <div class="row" id="container">¿
            <!-- COLUMNA 2 -->
            <div class="col-sm mx-2">
                <img src="https://i.pinimg.com/originals/a2/dc/96/a2dc9668f2cf170fe3efeb263128b0e7.gif" alt="">
            </div>
        </div>
    </div>
<script src="js/recipes.js"></script>
<%- include('templates/footer')%>