<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/TanukitchenLogo-White.png">
    <title>Your Recipes</title>
    <%-include('templates/header')%>
    <%-include('templates/navbar')%>



    <script>
        var items = document.querySelectorAll('.nav-item a');
        items[1].setAttribute('aria-current', "page");
    </script>
    <%- include('templates/footer')%>