<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/TanukitchenLogo-White.png">
    <title>Your Recipes</title>
    <%-include('templates/header')%>
    <%-include('templates/navbar')%>

    <div class="container text-center">
        <div class="justify-content-center"> 
            <h1 class="tk-text" id="recipe_name"></h1>
            <div class="d-flex justify-content-center">
                <h2 class="tk-text" id="verb_step"> Step:</h2> <h2 class="tk-text" id="current_step"> 0 /</h2> / <h2 class="tk-text" id="total_steps">0</h2>
            </div>
        </div>

        <div class="justify-content-center row tk-text">
            <div class="col">
                <h2>Instructions: </h2>
                <ol id="instructions_list"></ol>
            </div> 
            <div class="col">
                <h2>Ingredients: </h2>
                <ol id="ingredients_list"></ol>
            </div> 
        </div>

        <div class="justify-content-center row tk-text">
            <!-- COLUMNA ESTUFA -->
            <div class="col-sm" id="div_stove" style="display: none">
                <div class="d-flex justify-content-center">
                    <div class="tk-panel-label">Stove</div>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="/img/icons/tkStove.png" class="tk-panel-icon"></img>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="tk-panel-data">Temperature</div>
                </div>
                <p class="tk-panel-data" id="stove_temp">0 C°</p><p class="tk-panel-data" id="stove_goal">Goal: 0 C°</p>
                <div class="d-flex justify-content-center">
                    <div class="form-check form-switch">
                        <input id="toStove" type="checkbox" class="form-check-input" role="switch"  onclick="state_change('stove', $('#toStove').prop('checked'))">
                        <label for="toStove" class="tk-text" id="stove_turn">Turn On</label>
                    </div>
                </div>
            </div>
            
            <!-- COLUMNA EXTRACTOR -->
            <div class="col-sm" id="div_extractor" style="display: none">
                <div class="d-flex justify-content-center">
                    <div class="tk-panel-label">Smoke Extractor</div>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="/img/icons/tkExtractor.png" class="tk-panel-icon"></img>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="tk-panel-data" id="smoke_message">Off</div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <div class="form-check form-switch">
                        <input id="toSmoke" type="checkbox" class="form-check-input" role="switch" onclick="state_change('extractor', $('#toSmoke').prop('checked'))">
                        <label for="toSmoke" class="tk-text" id="smoke_turn">Turn On</label>
                    </div>
                </div>
            </div>
            
            <!-- COLUMNA BÁSCULA -->
            <div class="col-sm" id="div_scale" style="display: none">
                <div class="d-flex justify-content-center">
                    <div class="tk-panel-label">Scale</div>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="/img/icons/tkScale.png" class="tk-panel-icon"></img>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="tk-panel-data">Weight</div>
                </div>
                <p class="tk-panel-data" id="scale_weight">0 gr</p><p class="tk-panel-data" id="scale_goal">Goal: 0 gr</p>
                <div class="d-flex justify-content-center">
                    <div class="form-check form-switch">
                        <input id="toScale" type="checkbox" class="form-check-input" role="switch" onclick="state_change('scale', $('#toScale').prop('checked'))">
                        <label for="toScale" class="tk-text" id="scale_turn">Turn On</label>
                    </div>
                </div>
            </div>

            <!-- COLUMNA SMOKE DETECTOR -->
            <div class="col-sm" id="div_fire" style="display: none">
                <div class="d-flex justify-content-center">
                    <div class="tk-panel-label">Risk of Fire</div>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="/img/icons/tkFire.png" class="tk-panel-icon"></img>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <p class="tk-panel-data" id="fire_message">Everything seems normal</p>
                </div>
                    <p class="tk-panel-data" id="fire_percent">0 %</p>
            </div>
        </div>

        <div class="justify-content-center row tk-text mt-3">
            <button class="btn tk-form-btn" id="btn_inst_ready" onclick="readyInstruction()"> Instruction 1 Ready </button>
        </div>

        <img src="https://cdn-icons-png.flaticon.com/512/1231/1231089.png" width="5%" onclick="speech2text()" class="mt-5">
    </div>


<script>
    function init() {
        // Obtener la receta por el id
        fetch('http://localhost:3000/api/modules/getRecipe/<%= obj.recipe._id %>')
        .then((response) => response.json())
            .then((json) => { 
                // Regresa un arreglo de recetas por eso seleccionamos el primer elemento
                recipe = json[0];
                // Inicializar valores
                setValues();
                finished = false;
                $('#recipe_name').html(recipe.name);
                $('#total_steps').html(recipe.steps.length);
            });
    }
</script>
<script src="../js/stepsRecipes.js"></script>
    <%- include('templates/footer')%>