<div class="container">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand">
            <img src="../img/Horizontal-TanukitchenLogo-White.png" 
                        height="50" width="auto" alt="Tanukitchen">
        </a>
        <div class="collapse navbar-collapse justify-content-center" id="tkNavbar">
            <ul class="navbar-nav">
                <li class="nav-item px-4">
                    <a href="/control_panel/" class="nav-link tk-text">Control Panel</a>
                </li>
                <li class="nav-item px-4">
                    <a href="/recipes" class="nav-link tk-text">Recipes</a>
                </li>
                <li class="nav-item px-4">
                    <a href="#" class="nav-link tk-text">Profile</a>
                </li>
            </ul>
            </div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/ChatGPT_logo.svg" width="3%" onclick="chatgpt()">
        <div class="d-flex justify-content-center">
            <a href="#" class="tk-link align-self-center mx-2"><%= obj.user.name %></a>
            <img class="tk-nb-avatar" src="/img/anomanches.jpg" alt="avatar">
        </div>
    </nav>
</div>
<script>
    /* Primero creamos los objetos para poder grabar nuestra voz con el microfono */
    const recVozGPT = window.SpeechRecognition || window.webkitSpeechRecognition
    const recGPT = new recVozGPT()
    /* metodo que se ejecuta al empezar a granar */
    recGPT.onstart = ()=>{
        console.log('Recording to send Chat GPT...')
    }
    /* Metodo que se ejecuta al terminar la grabación */
    recGPT.onresult = event =>{
        let mensaje = event.results[0][0].transcript
        console.info(mensaje)
        readCommandGPT(mensaje)
    }
    /* Función que condiciona la respuesta dependiendo de el contenido de la grabación */
    const readCommandGPT = async(mensaje)=>{
        const voice = new SpeechSynthesisUtterance()
        let rslt = '';
        // Agregar comandos aqui
        await fetch('http://localhost:3000/chat-gpt/' + mensaje)
            .then((response) => response.json())
                .then((json) => { rslt = json }
            )
        console.log(rslt);
        voice.text = rslt;
        window.speechSynthesis.speak(voice)
    }
    function chatgpt() {
        recGPT.start()
    }
</script>
